



.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.dawning-of-a-new-day-regular {
  font-family: "Dawning of a New Day", serif;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DAD6C5;
    line-height: 1.6;
}

.container {
    max-width: auto;
    margin: 0 auto;
}

.hero {
    text-align: center;
    position: relative;
    padding: 40px;
    height: calc(100vh); /* Viewport height minus top & bottom padding */
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the space while keeping proportions */
    border-radius: 20px;
    filter: contrast(140%) grayscale(100%) brightness(50%);
    opacity: 0.8;
}

@media (max-width: 768px) {
    .hero video {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
}

.hero h1 {
    position: absolute;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    padding: 10px 20px;
    color: #DAD6C5;
}

.story {
    font-family: "Dawning of a New Day", serif;
    font-size: 40px;
    margin: 80px 0 120px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 60px;
    color: #391B00;
}


.story p:nth-child(1) {
    text-align: left;
    grid-column: 2 / 9;
}

.story p:nth-child(2) {
    text-align: left;
    grid-column: 3 / 10;
}

.story p:nth-child(3) {;
    text-align: right;
    grid-column: 8 / 12;
}

.details {
    background-color: #847D6D;
    width: 100%;
}

.details .textarea {
    padding: 100px 40px;
    color: #DAD6C5;
    text-align: left;
    font-family: "Bellefair", serif;
    position: relative;
}

.details h1 {
    font-size: 48px;
    display: inline-block;
    font-weight: normal;
    position: relative;
}

.really {
    font-size: 40px;
    line-height: 40px;
    display: inline-block;
    width: 60px;
    font-family: "Dawning of a New Day", serif;
    font-weight: normal;
    top: -35px;
    font-style: italic;
    text-align: center;
}

.details h2 {
    font-size: 24px;
    font-weight: normal;
}

.details p {
    font-size: 16px;
    padding-top:16px;
}

.details .faq {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding:40px 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.faq div{
    padding-right: 20px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 40px 40px;
}

.photos img {
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    font-family: "Dawning of a New Day", serif;
    color: #D42D20;
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
}

@media (max-width: 768px) {

    .hero {
        padding: 32px 16px;
    }

    .hero video {
        object-position: calc(50% + 50px) 50%; /* Moves video right by 100px */
    }


    .hero h1 {
        font-size: 5rem;
        padding: 16px;
    }

    .story {
        margin: 0 32px;
        padding: 32px 0;
        gap: 24px;
    }

    .story p:nth-child(1) {
        text-align: left;
        grid-column: 1 / 12;
    }

    .story p:nth-child(2) {
        text-align: left;
        grid-column: 3 / 11;
    }

    .story p:nth-child(3) {;
        text-align: right;
        grid-column: 6 / 13;
    }

    .story p {
        font-size: 2rem;
    }

    .details .textarea {
        padding: 40px 24px;
    }


    .details h1 {
        font-size: 40px;
        display: inline-block;
        position: relative;
    }

    .really {
        font-size: 32px;
        line-height: 32px;
        width: 50px;
    }

    .details h2 {
        font-size: 20px;
        font-weight: normal;
    }

    .details .faq {
        grid-template-columns: 1fr;
    }

    .details .faq div {
        padding: 8px 0;
    }

    .photos {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 24px;
    }   

}

@media (max-width: 480px) {

    .hero {
        padding: 20px 0px;
    }

    .hero video {
        object-position: calc(50% + 100px) 50%; /* Moves video right by 100px */
    }


    .details .textarea {
        padding: 80px 12px;
    }   


    .story {
        margin: 40px 24px;
        gap: 24px;
        font-size: 32px;
    }

    .story p:nth-child(1) {
        text-align: left;
        grid-column: 1 / 12;
    }

    .story p:nth-child(2) {
        text-align: left;
        grid-column: 2 / 13;
    }

    .story p:nth-child(3) {;
        text-align: right;
        grid-column: 4 / 13;
    }

    .story p {
        font-size: 2rem;
    }


    .details h1 {
        font-size: 32px;
        display: inline-block;
        position: relative;
    }

    .column h2 {
        font-size: 20px;
        font-weight: normal;
        margin-top: 40px;
    }

    .faq div {
        padding: 0px;
    }

    .photos {
        grid-template-columns: repeat(2, 1fr);
        margin: 24px 12px;
    }

    .footer {
        font-size: 32px;
    }
}

